<div class="container-fluid">
  <div class="wrapper">
    <main class="">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" class="form">
        <div class="main-logo"></div>
        <div class="signin-form well-lg">
          <div>
            <p class="lead text-center text-info" style="border-bottom: 1px solid #000080">
              <img src="/assets/logo.png" /> <!--Bet Software-->

          </div>
          <div class="form-group">
            <div class="text-center">
              <input type="text" class="form-control rounded-right" placeholder="email address" formControlName="emailaddress" [ngClass]="{'is-valid': submitted && formControl.emailaddress.errors}"
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z]+$" required="true" />
              <div *ngIf="submitted && formControl.emailaddress.errors" class="invalid-feedback">
                <div *ngIf="formControl.emailaddress.errors.required">Username is required</div>
              </div>
            </div>

          </div>

          <div class="form-group">
            <div class="text-center">
              <input type="password" class="form-control display-2" placeholder="password" formControlName="password" required="true" />
              <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
                <div *ngIf="formControl.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <label class="form-group">

            <button [disabled]="loading" class="btn btn-primary pull-right">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Sign in
            </button>
          </label>

          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </div>
      </form>
    </main>
  </div>
</div>

